<% @users.each do |user| %>
  <% if user != current_user %>

    <div class="media col-md-4">
      <div class="media-left media-middle">
        <a href="users/<%= user.id %>">
          <%= user_gravatar(user, 75) %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to user.name, user_path(user.id)  %></h4> 
        <span class="add-<%= user.id %>">
          <%= render "shared/friend_control", user: user %>
        </span>
      </div>
    </div>

  <% end %>
    
<% end %>
