
<div class="control">
<% @users.each do |user| %>
  <% if user != current_user %>
    <div class="media col-md-4">
      <div class="media-left media-middle">
        <a href="users/<%= user.id %>">
          <% if user.avatar.attached? %>
            <%= image_tag(user.avatar, size: 75) %>
          <% else %>
            <%= user_gravatar(user, 75) %>
          <% end %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to user.name, user_path(user.id)  %></h4> 
        <span class="add-<%= user.id %>">
          <%= render "shared/friend_control", user: user %>
        </span>
      </div>
    </div>

  <% end %>
    
<% end %>
</div>