<div class="row">
  <div class="col-sm-3">
    <div class="media">
      <div class="media-left media-middle">
        <a href="<%= user_path(@user.id) %>">
          <% if @user.avatar.attached? %>
            <%= image_tag(@user.avatar, size: 105) %>
          <% else %>
            <%= user_gravatar(@user, 105) %>
          <% end %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @user.name %></h4>
        <%= render "shared/friend_control", user: @user %>
        <p></p>
        <span style="margin-top:5px">
          <a href="#" class="btn btn-success">
            Friends <span class="badge"><%= @num_friends %></span>
          </a>
        </span>
      </div>
    </div>
    <% if current_user == @user %>
      <%= render 'change_avatar' %>
    <% end %>

    
    <% if current_user.friendship?(@user) %>
      <%= render 'send_message' %>
    <% end %>
    
  </div>
  <div class="col-sm-6">
    <% if current_user.friendship?(@user) || current_user == @user %>
      <% @feed.each do |feed| %>
        <% if feed.user.avatar.attached? %>
          <h4><%= image_tag(feed.user.avatar, size: 45) %> <%= feed.user.name %></h4>
        <% else %>
          <h4><%= user_gravatar(feed.user, 45) %> <%= feed.user.name %></h4>
        <% end %>
        <h5 class="title"><%= feed.title %></h5>
        <p class="feed_content"><%= feed.content %></p>
        <% if feed.photo.attached? %>
          <img src="<%= url_for(feed.photo) %>"  class="img-responsive">
        <% end %>
        <%= render "shared/likes", post: feed %>
        <hr>
        <h5>Comments</h5>
      <div class="comments-<%= feed.id %>">
        <% feed.comments.each do |comment| %>
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <% if comment.user.avatar.attached? %>
                  <%= image_tag(comment.user.avatar, size: 45) %> 
                <% else %>
                  <%= user_gravatar(comment.user, 35) %> 
                <% end %>
              </a>
            </div>
            <div class="media-body">
              <p class="feed_comment"><span class="comment_name"><%= comment.user.name %></span> <%= comment.body %></p>
            </div>
          </div>
        <% end %>
      </div>
      <%= form_with(model: @comment, url: comments_path, remote: true ) do |f| %>
        <%= f.hidden_field :post_id, value: feed.id %>
        <%= f.text_area :body, class: "form-group col-sm-12 btn-comment form-#{feed.id}", rows: "1" %><br>
        <%= f.submit "Comment", :onclick => "", data: { "disable-with": "Saving..." }, class: "btn btn-primary" %>
      <% end %>
        <hr>
      <% end %>
    <% else %>
      <h4 class="text-center"> <b><%= @user.name %></b> is not your friend <span class="glyphicon glyphicon-ban-circle red-color" aria-hidden="true"></span> </h4>
    <% end %>
  </div>
  <div class="col-sm-3"></div>
</div>
