<p><%= @user.id %></p>
<p>Friends: <%= @num_friends %></p>
<% if current_user != @user %> 
<div class="add">
<% if current_user.friendship?(@user) %>
  <%= render 'friendships/unfriendship' %> 
  <% elsif current_user.invitation?(@user) %>
    <% if current_user.has_invited?(@user) %>
        <%= render 'friendships/unfriendship' %> 
    <% else %>
        <p>Aceptar, rechazar</p>
    <% end %>
  <% else %>
  <%= render 'friendships/friendship' %>
<% end %>
</div>
<% end %>




 



<% if current_user == @user %>
<h1>Invitations</h1>
  <% @user_invitations.each do |invitation|%>
    <%= invitation.friend_invite.email %>
  <% end %>
<% end %>
