
<div class="row">
     <div class="col-sm-3">
        <h4><%= user_gravatar(@user, 75) %> <%= @user.email %></h4>
     </div>
     <div class="col-sm-6">
          <% @feed.each do |feed| %>
               <h4><%= user_gravatar(feed.user, 45) %> <%= feed.user.email %></h4>
               <h5 class="title"><%= feed.title %></h5>
               <p class="feed_content"><%= feed.content %></p>
               <% if feed.photo.attached? %>
                    <img src="<%= url_for(feed.photo) %>"  class="img-responsive">
               <% end %>
               <% if feed.likes.count > 0 %>
                    <p style="color: green">Already like</p>
               <% else %>
                    <%= form_with(model: @like, url: likes_path, local: true ) do |f| %>
                         <%= f.hidden_field :post_id, value: feed.id %>
                         <%= f.submit "Like", data: { "disable-with": "Saving..." }, class: "btn btn-primary" %>
                    <% end %>
               <% end %>
               <hr>
               <h5>Comments</h5>
               <% feed.comments.each do |comment| %>
                    <div class="media">
                         <div class="media-left media-middle">
                              <a href="#">
                                   <%= user_gravatar(comment.user, 35) %>
                              </a>
                         </div>
                         <div class="media-body">
                              <p class="feed_comment"><span class="comment_name"><%= comment.user.email %></span> <%= comment.body %></p>
                         </div>
                    </div>
               <% end %>
               <%= form_with(model: @comment, url: comments_path, local: true ) do |f| %>
                    <%= f.hidden_field :post_id, value: feed.id %>
                    <%= f.text_area :body, class: "form-group col-sm-12", rows: "1" %><br>
                    <%= f.submit "Comment", data: { "disable-with": "Saving..." }, class: "btn btn-primary" %>
               <% end %>
               
               <hr>
          <% end %>
     </div>
     <div class="col-sm-3"></div>
</div>