<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <% @feed_posts.each do |post| %>
      <h4><%= user_gravatar(post.user, 45) %> <%= link_to post.user.name, user_path(post.user.id) %></h4>
      <h5 class="title"><%= post.title %></h5>
      <p class="feed_content"><%= post.content %></p>
      <% if post.photo.attached? %>
        <img src="<%=(url_for(post.photo))%>" class="img-responsive" >
      <% end %>
      <hr>
      <%= render "shared/likes", post: post %>
      <h5>Comments</h5>
      <div class="comments-<%= post.id %>">
        <% post.comments.each do |comment| %>
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <%= user_gravatar(comment.user, 35) %>
              </a>
            </div>
            <div class="media-body">
              <p class="feed_comment"><span class="comment_name"><%= comment.user.name %></span> <%= comment.body %></p>
            </div>
          </div>
        <% end %>
      </div>
      <%= form_with(model: @comment, url: comments_path, remote: true ) do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.text_area :body, class: "form-group col-sm-12 btn-comment form-#{post.id}", rows: "1" %><br>
        <%= f.submit "Comment", :onclick => "", data: { "disable-with": "Saving..." }, class: "btn btn-primary" %>
      <% end %>
      <hr>
    <% end %>
  </div>
  <div class="col-sm-3"></div>
</div>
