<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <% @feed_posts.each do |post| %>
      <% if post.user.avatar.attached? %>
         <h4><%= image_tag(post.user.avatar, size: 45) %> <%= link_to post.user.name, user_path(post.user.id) %></h4>
      <% else %>
        <h4><%= user_gravatar(post.user, 45) %> <%= link_to post.user.name, user_path(post.user.id) %></h4>
      <% end %>
      <h5 class="title"><%= post.title %></h5>
      <p class="feed_content"><%= post.content %></p>
      <% if post.photo.attached? %>
        <img src="<%=(url_for(post.photo))%>" class="img-responsive" >
      <% end %>
      <hr>
      <%= render "shared/likes", post: post %>
      <h5>Comments</h5>
      <div class="comments-<%= post.id %>">
        <% post.comments.each do |comment| %>
          <%= render "shared/comments", comment: comment %>
        <% end %>
      </div>
      <%= render 'shared/comment_form', id: post.id %>
      <hr>
    <% end %>
  </div>
  <div class="col-sm-3"></div>
</div>
